@font-face {
    font-family: "Press Start 2P";
    src: url(../font/retro.ttf);
	font-display: swap;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),auto;
}

body {
	margin: 0;
    background: rgb(72,79,98);
    background: radial-gradient(at bottom right, rgb(55 114 122) 0%, rgb(40 81 96) 25%, rgb(44 39 56) 100%);
    font-family: "Press Start 2P";
	font-size: 16px;
	line-height: 1.5;
	height: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    color: #e76e55;
    display: block;
}

header:hover {
    color: #f7d51d;
}

blue {
    color: #209cee;
}

yellow {
    color: #f7d51d;
}

.link {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

a {
	text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover {
    text-decoration: none;
}

/* For desktop: */
@media only screen and (min-width: 1024px) {
	#header-container {
		display: flex;
        overflow: auto;
	}
	
	#map-mobile {
		display: none;
	}
	
	#logo-mobile{
		display: none;
	}
	
	.nes-container-home {
		display: flex;
	}
	
	footer {
		position: fixed;
		bottom: 16px;
		width: 320px;
		right: 8px;
		text-align: center;
	}
	
	menu.nes-container.is-dark.is-outline {
		margin: 8px 8px 8px auto;
		width: 600px;
	}
	
	menu.nes-container.is-dark.is-outline {
		margin: 8px 8px 8px auto;
		width: 600px;
	}
	
	logo {
		font-size: 32px;
		padding-top: 16px;
		padding-left: 20px;
		text-shadow: 4px 4px #0004;
	}
	
	.single_schedule {
		margin: auto;
		padding-top: 16px;
		width: 880px;
	}
	
	.nes-table.is-dark.is-outline {
		width: 880px;
	}
	
	.is-sponsor a {
		display: block;
		padding: 16px 0px;
		width: 320px;
	}
}

/* For mobile: */
@media only screen and (max-width: 1023px) {
	#header-container {
		display: grid;
        overflow: auto;
	}
	
	#logo-pc {
		display: none;
	}
	
	#logo-mobile{
		position: absolute;
		height: 96px;
		width: 96px;
		background-image: url(../gfx/logo.png);
		background-size: contain;
		background-repeat: no-repeat;
		left: 8px;
		top: 20px;
	}
	
	logo {
		font-size: 32px;
		padding-top: 16px;
		padding-left: 112px;
		text-shadow: 4px 4px #0004;
		height: 112px;
	}
	
	.single_schedule {
		font-size: 24px;
		margin-left: 8px;
		padding-top: 16px;
		width: calc(100% - 8px);
	}
	
	#map-pc {
		display: none;
	}
	
	.nes-container-home {
		display: grid;
	}
	
	#social-pc {
		display: none;
	}
	
	footer {
		text-align: center;
		padding: 16px 0px;
	}
	
	menu.nes-container.is-dark.is-outline {
		margin: 8px 8px 8px 8px;
		width: calc(100% - 16px);
		font-size: 24px;
	}
	
	menu.nes-container.is-dark.is-outline {
		margin: 8px 8px 8px 8px;
		width: calc(100% - 16px);
	}
	
	.nes-table.is-dark.is-outline {
		width: calc(100% - 8px);
	}
	
	.is-sponsor a {
		display: inline;
		padding: 32px 24px;
		width: 100%;
	}
	
	.is-sponsor yellow {
		display: block;
		margin-bottom: 16px;
	}
}

menu .link:not([href]):not([tabindex]) {
    color: #f7d51d;
    margin-top: 2px;
}

menu .link:not([href]):not([tabindex]):hover {
    color: #f7d51d;
    margin-top: 2px;
}

.center-text {
    text-align: center;
}

.nes-table-responsive{
    box-shadow: 4px 4px 16px #0004;
}

.nes-container.is-dark::after {
    content: none;
    background-color: transparent;
}

.nes-table.is-dark::before {
    content: none;
}

.nes-table.is-dark.is-outline {
    background-color: #2228;
    border: 8px solid white;
    border-image-source: url(../gfx/border.png);
    border-image-slice: 2 2;
    border-image-outset: 0;
    border-image-repeat: repeat;
    border-collapse: inherit;
    border-spacing: 0px;
    image-rendering: pixelated;
    padding: 2px;
}

#home-container div {
    flex-grow: 1;
}

.schedule {
    display: flex;
}

div.nes-container.is-dark.is-outline {
    margin: 8px;
}

.nes-container.is-dark.is-outline {
    box-shadow: 4px 4px 16px #0004;
    background-color: #2228;
    border: 8px solid white;
    border-image-source: url(../gfx/border.png);
    border-image-slice: 2 2;
    border-image-outset: 0;
    border-image-repeat: repeat;
    border-collapse: inherit;
    border-spacing: 0px;
    image-rendering: pixelated;
    padding: 8px;
}

.nes-table.is-dark.is-outline td {
    padding: 16px;
}

.nes-container.is-dark.with-title>.title {
    background-color: #212529;
    margin: -16px 0px;
}

.nes-table-title {
    color: white;
    padding-bottom: 8px;
}

.nes-container-bottom {
    display: flex;
}

.warning-text {
    color: #f7d51d;
}

div.nes-container.is-dark {
    background-color: #212529;
}

div.nes-container.is-dark::after {
    background-color: transparent;
}

menu {
    display: flex;
    margin-top: 0px;
}

menu .link {
    text-align: center;
    flex-grow: 1;
    margin-top: 2px;
}

menu .link:before {
    content: ">";
    color: transparent;
}

menu .link:hover:before {
    content: ">";
    color: #f7d51d;
}

.icon {
    height: 64px;
    width: 64px;
    display: block;
    background-size: contain;
    image-rendering: pixelated;
    background-repeat: no-repeat;
}

.twitter:hover {
    background-image: url(../gfx/twitter_active.png);
}

.twitter {
    background-image: url(../gfx/twitter.png);
}

.discord:hover {
    background-image: url(../gfx/discord_active.png);
}

.discord {
    background-image: url(../gfx/discord.png);
}

.linkedin {
    background-image: url(../gfx/LI-In-Bug.png);
}

footer a:hover {
    color: white;
}

.is-other {
    width: 104px;
    height: 698px;
}

.is-sponsor img {
    margin: 0px 20px;
}

.is-map {
    width: 632px;
}

.is-map iframe{
    filter: invert(95%) hue-rotate(180deg);
}

.nes-container.is-dark {
    position: relative;
    margin: 4px;
    color: #fff;
    background-color: #212529;
    border-color: #fff;
}

.nes-text.is-warning {
    color: #f7d51d;
    overflow: auto;
}

.nes-container.is-dark.is-outline {
    box-shadow: 4px 4px 16px #0004;
    background-color: #2228;
    border: 8px solid white;
    border-image-source: url(../gfx/border.png);
    border-image-slice: 2 2;
    border-image-outset: 0;
    border-image-repeat: repeat;
    border-collapse: inherit;
    border-spacing: 0px;
    image-rendering: pixelated;
    padding: 8px;
}

.nes-container>:last-child {
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.nes-table.is-dark {
    color: #fff;
    background-color: #212529;
}

.nes-table {
    table-layout: fixed;
    background-color: #fff;
}

.nes-table.is-dark.is-outline td {
    padding: 16px;
}

.nes-table.is-dark td, .nes-table.is-dark th {
    border-color: #fff;
}

.nes-table td, .nes-table th {
    position: relative;
    padding: 0.5rem;
    /* word-wrap: break-word; */
    border-color: #212529;
    border-style: solid;
    border-width: 0 0.25em 0.25em 0;
}

.nes-table td:last-child, .nes-table th:last-child {
    border-right-width: 0;
}

.nes-table tbody tr:last-child td, .nes-table tbody tr:last-child th, .nes-table thead:last-child tr:last-child td, .nes-table thead:last-child tr:last-child th {
    border-bottom-width: 0;
}