input, button, textarea {
    grid-auto-flow: column;
    grid-gap: .5em;
    border: solid 2px beige;
    color: beige;
    padding: 8px 8px;
    border-radius: 16px;
    background: 
        linear-gradient(to right bottom, var(--slist)) 
        border-box;
    font: 12px sans-serif;
    text-transform: uppercase;
}

textarea {
    font: 12px Consolas;
    resize: none;
}